<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1> {{valor}} </h1>
    <ion-input [(ngModel)]="valor"> </ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="ckNumero('7')" expand="block" color="dark" size="large"  > 7 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('8')" expand="block" color="dark" size="large"  > 8 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('9')" expand="block" color="dark" size="large"  > 9 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="light" size="large"> + </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="ckNumero('4')" expand="block" color="dark" size="large" > 4 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('5')" expand="block" color="dark" size="large" > 5 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('6')" expand="block" color="dark" size="large" > 6 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="light" size="large"> - </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="ckNumero('1')" expand="block" color="dark" size="large" > 1 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('2')" expand="block" color="dark" size="large" > 2 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('3')" expand="block" color="dark" size="large"> 3 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="light" size="large"> = </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light" size="large"> ^ </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckNumero('0')" expand="block" color="secondary" size="large" > 0 </ion-button>
           
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="light" size="large"> / </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="ckPonto()" expand="block" color="light" size="large"> . </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid> 
      <ion-row> 
        <ion-col>
          <ion-button (click) = "ckCleanE()" expand = "block" color = "light" size = "large"> CE </ion-button> 
        </ion-col>
        <ion-col>
           <ion-button (click) = "ckLimpar()" expand = "block" color = "light" size = "large" > C </ion-button>
        </ion-col>     
      </ion-row>
    </ion-grid>

  </div>
</ion-content>