<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-input readonly> A

    </ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color = "dark" size = "large"> 7  </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large" > 8 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large" > 9 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "light" size = "large" > + </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-button color = "dark" size = "large" > 4 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large"  > 5 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large" > 6 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "light" size = "large"  > - </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color = "dark" size = "large" > 1 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large"  > 2 </ion-button> 
        </ion-col>

        <ion-col>
          <ion-button color = "dark" size = "large"  > 3 </ion-button> 
        </ion-col>

        <ion-col>
          <ion-button color = "light" size = "large"  >  = </ion-button> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color = "light" size = "large"  > ^ </ion-button>
        </ion-col>

        <ion-col>
          <ion-button color = "secondary" size = "large" >  0 </ion-button> 
        </ion-col>

        <ion-col>
          <ion-button color = "light" size = "large"  >  / </ion-button> 
        </ion-col>

        <ion-col>
          <ion-button color = "light" size = "large"  >  . </ion-button> 
        </ion-col> 
      </ion-row>
    </ion-grid>

  </div>
</ion-content>